.label-div{
    display: flex; 
    flex-direction: row;
    align-items:center; 
    justify-content:space-between; 
}

.page_change{
    margin-left: 15;
    font-weight: bold; 
    font-size: larger;
}
.label-span{
    font-weight: bold; 
    color: black; 
    font-size: 17.5; 
}

.score-span{
    font-size: 15; 
    margin-left: 30; 
}

.score-title{
    font-size: 18;
    font-weight: bold; 
    margin-left: 30; 
}
.each-controll-label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 6;
}

.each-controll-span{
    margin-left: 100;
    margin-bottom: 10;
}


.resultstr-div{
    display:flex;
    flex-direction:column; 
    justify-content:center; 
    align-items:center;
}

.total-score-area{
    display:flex;
    flex-direction: row;
    justify-content: end;
}

.btn-div{
    display:flex; 
    flex-direction:row; 
    justify-content:center;
    align-items:center; 
    margin-top:90; 
}